.postList{
    height:80%;
    position: relative;
}
.postList-head{
    margin: 10px;
    text-align: center;
}
.add-button,.close-button{
    position: absolute;
    right:5%;
    top:0;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.add-button{
    background-color: rgb(8, 245, 8);
    color:black;
}
.close-button{
    background-color: rgb(240, 32, 9);
}
.form-display {
    position: fixed;
    top: 25%;
    left: 40%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}
.deleteModal{
    z-index: 1000;
    position: fixed;
    top: 40%;
    left: 40%;
}