.app{
  height: 100vh;
}
.postlist-container{
  width: 80%;
  height: 80vh;
  border: 2px solid peru;
  margin: 0 auto;
  overflow: scroll;
  background-color: beige;
  border-radius: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 0;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.display{
  margin: 10px;
  width: 70%;
  height: 80%; 
  background-color: rgb(28, 24, 24);
  border-radius: 15px;
  padding: 20px;
}